server:
  port: 8080
  forward-headers-strategy: native
  tomcat:
    max-swallow-size: 1GB
    max-http-form-post-size: 1GB

spring:
  application:
    name: aws_deploy_divide_env

  profiles:
    active: dev
    include: secret

  data:
    redis:
      port: 36379

  servlet:
    multipart:
      max-file-size: ${spring.servlet.multipart.max-request-size}
      max-request-size: 5MB

  web:
    resources:
      add-mappings: false

  output:
    ansi:
      enabled: always

  jackson:
    serialization:
      fail-on-empty-beans: false

  datasource:
    url: jdbc:h2:./db_dev;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
    hikari:
      auto-commit: false

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
        highlight_sql: true
        use_sql_comments: true

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ON_SECRET
            scope: profile_nickname, profile_image
            client-name: Kakao
            authorization-grant-type: authorization_code
            redirect-uri: "${custom.site.backUrl}/{action}/oauth2/code/{registrationId}"
          naver:
            client-id: ON_SECRET
            client-secret: ON_SECRET
            scope: profile_nickname, profile_image
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: '{baseUrl}/{action}/oauth2/code/{registrationId}'
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

logging:
  level:
    io.river.aws_deploy_divide_env: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE

custom:
  dev:
    cookieDomain: localhost
    frontUrl: "https://${custom.dev.cookieDomain}:3000"
    backUrl: "https://${custom.dev.cookieDomain}:${server.port}"
  prod:
    cookieDomain: glog.onep.shop
    frontUrl: "https://www.${custom.prod.cookieDomain}"
    backUrl: "https://api.${custom.prod.cookieDomain}"
  site:
    cookieDomain: "${custom.dev.cookieDomain}"
    frontUrl: "${custom.dev.frontUrl}"
    backUrl: "${custom.dev.backUrl}"
    name: GLOG

  jwt:
    secretKey: ON_SECRET
  accessToken:
    expirationSeconds: "#{60 * 20}"
  genFile:
    dirPath: "${user.home}/infra_practice/aws/temp/glog_temp"